
/src/MSISF.suo
/src/MSIS/MSIS.csproj.user
/src/SPICEhelper/CSPICE/doc
/src/SPICEhelper/CSPICE/etc
/src/SPICEhelper/CSPICE/exe
/src/SPICEhelper/CSPICE/include
/src/SPICEhelper/CSPICE/lib
/src/SPICEhelper/CSPICE/src
/src/SPICEhelper/CSPICE/makeall.bat
/src/SPICEhelper/CSPICE/data
/bin/MSIS.pdb
/bin/MSIS.vshost.exe
/bin/MSIS.vshost.exe.manifest
/lib/SPICEhelper.exp
/lib/SPICEhelper.lib
/lib/SPICEhelper.pdb
/src/MSIS/obj
/src/SPICEhelper/temp
/src/MSISF.sdf